canvas{
    display: flex;
    margin: 30px auto;
    border: 20px solid lightgreen;
    background-color: black;
}
*{
    background-color: rgb(226, 43, 150);
}
div{
    align-items: center;
}
h1{
    margin: 10px auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 1px solid greenyellow;
}
